@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Pretendard";
  }

  :root {
    --sub-color: #808080;
    --highlight-color: #5f69be;
    --sub-highlight-color: #f8f8fe;
  }
}

@layer utilities {
  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }
}

@layer utilities {
  .scrollbar-custom {
    overflow: hidden;
  }
  .scrollbar-custom:hover {
    overflow: scroll;
  }
  .scrollbar-custom::-webkit-scrollbar {
    height: 8px; /* 스크롤바 너비 */
    width: 8px;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: rgba(200, 200, 200, 0.3); /* track 색상 및 투명도 */
    border-radius: 4px; /* 모서리 둥글게 */
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background-opacity: 0;
  }
}
